/*===============Header======================*/

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #2196f3;
}

.first-part-logo {
  color: #000;
}

.navigation-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #212121;
}
.navigation-link:hover,
.navigation-link:focus {
  color: #2196f3;
}

.contacts-link {
  color: #757575;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #2196f3;
}

/*===============End Header======================*/

/*===============Hero======================*/
.hero-section {
  background-color: #2f303a;
}
.hero-title {
  color: #fff;
}

.modal-btn {
  color: #fff;
  background-color: #2196f3;
}

/*===============End Hero======================*/


.link {
  text-decoration: none;
}

.list {
  list-style: none;
  font-style: normal;
}

.address {
  font-style: normal;
}


}
/*==================Footer=======================*/
.footer {
 background-color: black;
}

.second-part-logo {
  color: #fff;
}

.footer-address {
  color: #fff;
}
.footer-link-address {
  color: rgba(255, 255, 255, 0.6);
}
/*===============End Footer======================*/